.slidingDiv {
    height:200px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}
 
.show_hide {
    display:none;
}

.toggler {
    float: left;
    height: 205px;
    width: 37px;
    background-color: #EEEEEE;
    border: 2px solid #0075B8;
    border-top: none;
    border-bottom: 1px solid #B8B5B5;
    border-left: 1px solid #0075B8;
    cursor: pointer;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 13px;
}

.toggler:hover {
    background-color: #DAE5EB;
}

.toggle {
    float: left; 
    width: 225px; 
    display: block; 
    height: 200px; 
    border-right: 2px solid #0075B8;
    border-bottom: 1px solid #B8B5B5;
    background-color: #E4E4E4;
    overflow-y: scroll;
    padding: 4px;
}

.spalte_fct {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
     margin-top: 30px;
     position: relative;
    left: -81px;
    top: 65px;
    width: 200px;
}
/*
#detail {
    float: left;
    left: 50%;
    position: absolute;
}*/

.detail_button {
        background: url('/Finanzberatung/css/images/detail/details1.png');
        float: left;
        /*left: 50%;*/
        position: absolute;
	/*background-color:#DFDCDC;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:8px;
	font-weight:bold;*/
        height: 20px;
        width: 20px;
	text-decoration:none;
        margin-top: 1px;
}

.detail_button:hover {
	/*background-color:#AFAEAE;*/
        background: url('/Finanzberatung/css/images/detail/details3.png');
}

.detail_button:active {
	/*top:2px;*/
        background: url('/Finanzberatung/css/images/detail/details2.png');
}


body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
} 

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
	width: 100%;
}

#grobphaseR {
    float: right;
    font-size: 10px;
    margin-top: 4px;
}

#draggable {
    width: 380px;
    z-index: 1000;
    position: fixed;
    right: 40px;
    top: 59px;
    background-color: #0075B8;
    text-align: center;
    border-radius: 11px 11px 11px 11px;
    border: 3px solid #28436D;
    height: 67px;
}

#dragbutton {
    /*width: 30px;
    height: 30px;*/
    background-color: #0075B8;
    cursor: move;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 11px 11px 11px 11px;
    padding: 3px;
}

#dragcontent {
    /*padding-top: 2px;
    padding-right: 2px;
    padding-left: 6px;*/
    padding-bottom: 4px;
}

#filterlist
{
        position: relative;
        margin: auto;
        margin-bottom: 10px;
        background-color: #DADADA;
        color: black;
        font-weight: bold;
        font-size: 11px;
        border-radius: 11px 11px 11px 11px;
        border: 1px solid #C4C4C4;
}

#filterlist td  
{
        font-weight: bold;
}

#contentarea
{
    width: 98%;
    margin: auto;
}

#box
{
    height: auto;
}

#functionfilters{
    margin-top: 5px;
}

#functionoverview {
    border-bottom: 2px solid black;
    width: 459px;
    color: black;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.function
{
	height: 500px;
	width: 500px;
	z-index: 1000;
	left: -500px;
        padding-left: 20px;
        margin-top: 34px;
	position: fixed;
	background-color: #0075b8;
	-webkit-transition: all 1.0s ease-out;
        -moz-transition: all 1.0s ease-out;
        -o-transition: all 1.0s ease-out;
        transition: all 1.0s ease-out;
	border-radius: 0 15px 15px 0;
	color: white;
        border: 2px solid #5F5F5F;
}

.functionhover
{
        height: 500px;
	width: 500px;
	z-index: 1000;
        padding-left: 20px;
        margin-top: 34px;
	position: fixed;
	background-color: #0075b8;
	border-radius: 0 15px 15px 0;
	color: white;
        border: 2px solid #5F5F5F;
	left: 0;
	-webkit-transition: all 1.0s ease-in;
        -moz-transition: all 1.0s ease-in;
        -o-transition: all 1.0s ease-in;
        transition: all 1.0s ease-in;
}
#function_name
{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        right: -236px;
        top: 48%;
        position: absolute;
        cursor: pointer;
        width: 502px;
        text-align: center;
        border-radius: 0 15px 15px 0;
}

#function_name:hover {

}

#viewfilter
{
	height: 500px;
	width: 500px;
	z-index: 1000;
        position: fixed;
        right: -500px;
        padding-left: 20px;
        margin-top: 34px;
	background-color: #0075b8;
	-webkit-transition: all 1.0s ease-out;
        -moz-transition: all 1.0s ease-out;
        -o-transition: all 1.0s ease-out;
        transition: all 1.0s ease-out;
	border-radius: 15px 0 0 15px;
	color: black;
        cursor: pointer;
        border: 2px solid #5F5F5F;
}

#viewfilter:hover
{
        background-color: #1695DD;
}

#viewfilter:active
{
    right: -490px;
    border: 3px solid #5F5F5F;
}

#view_name
{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        left: -38px;
        top: 48%;
        position: absolute;
        color: white;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C0C0C0;
        height: 50px;
}

#content
{
    padding: 20px;
    min-height: 410px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background: #292929;
        height: 35px;
        padding-top: 5px;
        margin-left: -1px;
}

#mainmenu ul
{
	padding:7px 20px 5px 35px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline-block;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:15px;
	/*font-weight:bold;*/
	text-decoration:none;
	padding:5px 5px 12px 5px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #ffffff;
	background-color:#0075b8;
	text-decoration:none;
        height: 30px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.boxes
{
        background: #DADADA;
        border: 1px;
        border-color: #B8B5B5;
        margin: 10px;
        width: max-content;
        float: left;
        border-radius: 5px 5px 0px 0px;
}

#kopfzeile
{
        width: 100%;
        
}

.topline
{
        border: 1px;
        border-color: #B8B5B5;
        background: #C0C0C0;
        text-align: center;
        padding: 5px;
        border-radius: 5px 5px 0px 0px;
        margin-bottom: 5px;
}

button
{
    
}